body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#eas-frame {
    background-image: url("./img/Etch-a-Sketch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid red;
    border-radius: 10px;
}

.heading {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#eas-grid {
    margin-bottom: 40px;
    height: 440px;
    width: 600px;
    background-color: white;
    border: 2px solid rgb(150, 0, 0);
    border-radius: 2px;

}

.gridRows {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    color: grey;
}

.gridRows div {
    height: 440px;
    display: flex;
    flex-direction: column;
    flex: auto;
    color: grey;
}

#controls {
    margin: 20px;
    display: flex;
}

.footer {
    width: 700px;
    background-color: white;
    margin-top: 300px;
}

.footer p {
    text-align: center;
    margin: 0px;
}