body {
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: center;
}

#eas-frame {
    height: 500px;
    width: 500px;
    display: flex;
    background-image: url('./img/red-plastic-bg.jpg');
    justify-content: center;
}