body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: center;
}

#eas-frame {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/red-plastic-bg.jpg');
    border: 5px solid red;
    border-radius: 10px;
}

#eas-grid {
    height: 500px;
    width: 500px;
    background-color: white;
}
#controls {
    margin-top: 20px;
    display: flex;    
}